.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*========================================*/



.innerContainer{
  display:flex;
  justify-content: center;
  background-color: rgb(118, 118, 122);
}

.popup{
  margin-top:20px;
  width:350px;
  height:115px; 
  background-color: rgb(230, 229, 229);
  border-radius: 20px;
}

.innerPopup{
  text-align:left;
  margin-left:20px;
  margin-top:20px;
  font-size:15px;
  color:black;
  /*background-color: rgb(211, 205, 205);*/
}

.innerContainerTwo{
  display:flex;
  justify-content: flex-start;
  margin-top:5px;
  /*background-color: rgb(112, 112, 201);*/
}

.location{
  font-size:15px;
  color:grey;
  margin-right:9px;
}

.date{
  font-size:15px;
  color:grey;
}

.innerContainerThree{
  display:flex;
  justify-content: space-evenly;
  margin-top:30px;
  /*background-color: rgb(112, 112, 201);*/
}

.innerContainerFour{
  text-align:left;
  margin-top:30px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top:20px;
  padding-bottom:20px;
  /*background-color:red;*/
}

.innerContainerFive{
  text-align:left;
  border-bottom: 1px solid grey;
  padding-top:20px;
  padding-bottom:20px;
  /*background-color:red;*/
  }


.security{
  font-size:13px;
}


/*=====================================*/
.outerContainer{
position:relative;
}

.outerContainerTwo{
  position:absolute;
  
}

.scanlicenseArrow{
  text-align:left;
  margin-left:-5px;
  font-size:38px;
  color:grey;
}

.scanlicenseTextAll{
  margin-top:-320px;
  text-align:left;
}

.scanlicenseTextAll h5{
  color:#444545;
  font-weight:600;
}

.scanlicensePara{
  font-size: 14px;
}

.scanlicensePara p{
  color:#444545;
}

.photobox{
  width:345px;
  height:270px;
  margin:20px auto;
  overflow: hidden;
  background-color:#DEE1F2; 

  /*border:1px solid #a9aba9;*/
  display:flex;
  justify-content:center;
  align-items:center;
}


.licensebox{
  width:358px;
  height:40px; 
  margin:0 auto;
  margin-top:20px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background-color: #E9F0F2;
  border-radius: 10px;
}

.licensebox .optionOne,
.licensebox .optionTwo{
  font-size:14px;
  padding:5px 38px 5px 38px;
  color:#488492;
  border-radius:8px;
}

.addBackground{
  background-color:#FFFFFF;
}

.mainTextAll{
  text-align:left;
  top:20px;
  position:relative;
}

.mainTextAll h5{
  color:#444545;
}

.mainTextPara{
  font-size:14px;
}

.mainTextPara p{
  margin-top:10px;
  color:#444545;
  line-height: 24px;
}

.buttonbox{
  position:relative;
  width:358px;
  height:40px; 
  margin:0 auto;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  top:180px;
}

.buttonback{
  font-size:16px;
  color:#488492;
  border: 1px solid ;
  padding: 8px 60px;
}

.buttonselect{
  font-size:16px;
  padding: 8px 60px;
  color:white;
  background-color: #488492;
}

/*=========================================*/

.imagecontainer{
  position:relative;
  /*background-color:red;*/
  width:350px;
  height:690px;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.idcontainer{
  position:absolute;
  border-radius: 20px;
  /*width:310px;
  height:220px;
  /*background-color:grey;*/
}

.textcontainer{
  position:absolute;
  width:300px;
  height:200px; 
  /*background-color:rgb(172, 146, 146);*/
  margin-top:420px;
}

/*.boxoverlay{
  width:100vw;
  height:100vh; 
  background-color:#464746; 
 
  border:1px solid #a9aba9;
  display:flex;
  justify-content:center;
  align-items:center;
}*/

/*========================================*/
.scanInfo{
  margin-top:40px;
  text-align:left;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.idBox{
  width:355px;
  height:100px; 
  margin:10px auto;
  background-color:#3d3d3d; 
  border-radius:5px;
  display:flex;
  justify-content:space-around;
  align-items:center;
}

.idBox p{
  font-size:14px;
}

.idBoxTwo{
  display:flex;
  justify-content:start;
  align-items:center;
}
